{% if page.categories contains "footmark" %}

<div id="sidebar" class="sidebar">
  <h4>Footmark</h4>
  <ul>
    {% assign pages_list = site.categories.footmark %}  
    {% include JB/pages_list %}
  </ul>
  
</div>

{% elsif page.categories contains "essay" %}

<div id="sidebar" class="sidebar">
  <h4>随笔</h4>
  <ul>
    {% assign pages_list = site.categories.study %}
    {% include custom/pages_list_reversed %}
  </ul>

</div>

{% elsif page.categories contains "research" %}

<div id="sidebar" class="sidebar">
  <h4>技术研究</h4>
  <ul>
    {% assign pages_list = site.categories.research %}
    {% include custom/pages_list_reversed %}
  </ul>

</div>
{% elsif page.categories contains "life" %}

<div id="sidebar" class="sidebar">
  <h4>生活杂记</h4>
  <ul>
    {% assign pages_list = site.categories.life %}
    {% include custom/pages_list_reversed %}
  </ul>

</div>

{% endif %}
